.env
config.json
stats.json
__pycache__/
*.py[cod]
.pytest_cache/
.venv/
venv/
simulate_game.py
target/
.rustup/
.cargo/bin/
.cargo/registry/
.cargo/git/
.cargo/env
.cargo/.global-cache
.cargo/.package-cache
.cargo/.package-cache-mutate
.mingw/
.rustup-init.exe
C/
